@page
@model BookListRazor.Pages.BookList.IndexModel
@{
    ViewData["Title"] = "List";
}
<br />
<div class="card bg-secondary border-primary mb-5 text-center">
    <div class="card-header">
        <div class="nav nav-pills card-header-pills">
            <a class="btn btn-outline-info" asp-page="Upsert"><i class="fas fa-plus"></i> &nbsp; New</a>
        </div>
    </div>
    <div class="card-body">
        <h2 class="card-title text-center">List of readed books</h2>
        <hr />
        <table id="DT_load" class="table table-borderless table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th> Author</th>
                    <th> ISBN</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/bookList.js"></script>
    <script language="javascript">
        const antiForgeryToken = () => '@Model.AntiforgeryToken';
    </script>
} 