@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<center>
    <div class="card bg-light border-primary mb-5" style="width:60%; height:60%;">
        <div class="card-header">
            <h1 class="display-4">Welcome to <big>Chronicler</big></h1>
        </div>
        <img src="/images/title.jpg" />
        <div class="card-footer">
            <h3>Track your reading history here</h3>
        </div>
    </div>
</center>
