@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<center>
    <div class="card bg-light border-primary mb-5">
        <div class="card-header">
            <h2 class="card-title text-center">Track your reading history here</h2>
        </div>
        <div class="card-body">
            <img src="/images/title.jpg" style="width:60%; height:60%;" />
        </div>
    </div>
</center>
