@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<br />
<center>
    <div class="card bg-light border-primary mb-5" style="display: inline-block">
        <div class="card-header">
            <h2 class="card-title text-center">Track your reading history here</h2>
        </div>
        <center>
            <img src="/images/title.jpg" width="450" height="550"/>
        </center>
    </div>
</center>
